@model RTomatoes.Net.Entities.Movie

@{
    ViewBag.Title = "MovieInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="fieldset">
    <h2 style="color: #FF634D; margin: 0 auto .7em auto; width: 100%;">@Model.title</h2>
    
    <div class="fieldset_container">
        <div class="MovieInfoContainer">
            <div class="display-label">Year:</div>
            <div class="display-field">@Model.year</div>

            <div class="display-label">MpaaRating:</div>
            <div class="display-field">@Model.mpaa_rating</div>

            <div class="display-label">Runtime:</div>
            <div class="display-field">@Model.runtime Minutes</div>

            <div style="float: left; width: 100%;">
                <span class="display-label">Genre:</span>
                <ul class="display-field" style="list-style: none;">
                @foreach (var item in @Model.genres)
                {
                    <li>@item</li>
                }
                </ul>
            </div>            

            <div class="display-label">Synopsis:</div>
            <div class="display-field">@Model.synopsis</div>
        </div>
        <div class="MovieInfoImgContainer">
            <img src="@Model.posters.profile" alt="@Model.title" class="MovieInfoImg" />
        </div>
    </div>
</div>
<p style="width: 50%; margin: 1em auto">
    @Html.ActionLink("Back to Search", "MovieSearch", new { title = @Request["title"] })
</p>

