<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
</head>

<body>
    <div id="page">
    <div id="navigation">
        <span id="Title">CherryTomato</span><span id="SubTitle"> - A C# Library</span>
        <img src="../../Content/images/CherryTomato.png" alt="Cherry Tomato" id="TomatoImg" />
        <ul style="list-style: none;">
            <li>@Html.ActionLink("Home", "Index")</li>
            <li>@Html.ActionLink("MovieSearch", "MovieSearch")</li>
        </ul>        
    </div>
    
    <br />
    @RenderBody()

    </div>
</body>
</html>
